body {
  background-color: #f2f2f2;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.feature__text h2 {
  width: 155px;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: white;
  margin: 0;
  margin-bottom: 25px;
}

.search-results__description h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

.wrapper {
  background-color: white;
  margin: 0 auto;
  width: 100%;
  min-width: 751px;
  max-width: 1200px;
}

.hidden {
  display: none;
}

.main-header {
  position: relative;
}

.main-header__logo {
  position: absolute;
  z-index: 1;
  width: 138px;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.main-header__logo a {
  display: block;
  font-size: 0;
  width: 138px;
  height: 70px;
  background-image: url("../img/header-logo.png");
}

.main-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  min-height: 56px;
  margin: 0;
  padding: 0;
}

.main-menu__item {
  width: 20%;
}

.main-menu__item a {
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.main-menu__item:nth-child(4n+1) {
margin-left: 6%;
}

.main-menu__item:nth-child(4n) {
margin-right: 6%;
text-align: right;
}

.main-menu__item:nth-child(4n+3) {
margin-left: 8%;
text-align: right;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.intro-photo {
  position: relative;
  width: 100%;
  height: 508px;
  box-sizing: border-box;
  background-color: #6c7780;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: cover;
}

.intro-photo::before {
  content: "";
  display: block;
  position: absolute;
  top: 76px;
  right: 0;
  left: 0;
  margin: 0 auto;
  background: url("../img/intro-titles.png") no-repeat;
  width: 458px;
  height: 352px;
}

.intro-photo::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-image: url("../img/background-photo-mask.png");
  background-repeat: no-repeat;
  background-position: center;
}

.intro-photo img {
  display: block;
  margin: 0 auto;
}

.intro-photo img:nth-of-type(1) {
  margin-bottom: 11px;
}

.intro-photo img:nth-of-type(2) {
  margin-bottom: 52px;
}

.intro-photo img:nth-of-type(3) {
  margin-bottom: 56px;
}

.intro-text {
  padding-top: 62px;
  padding-bottom: 56px;
}

.intro-text b {
  display: block;
  width: 442px;
  margin: 0 auto 34px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.intro-text p {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.feature {
  display: flex;
  min-height: 256px;
  justify-content: space-between;
  align-items: stretch;
  background-color: #81b3d2;
}

.feature__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  box-sizing: border-box;
  color: white;
  padding-top: 45px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.feature__text h2 {
  width: 155px;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 25px;
}

.feature__text span {
  display: block;
  margin-bottom: 27px;
}

.feature__text p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.feature__photo {
  width: 66.66%;
  height: 256px;
  align-self: center;
  background-image: url("../img/features-photo-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 60%;
}

.advantages ul {
  display: flex;
  justify-content: space-between;
  min-height: 330px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  position: relative;
  width: 33%;
  text-align: center;
  padding-top: 160px;
}

.advantages__item h2 {
  margin: 0;
}

.advantages__item::after {
  display: block;
  content: "";
  position: absolute;
  width: 75px;
  height: 76px;
  top: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.advantages__item--house::after {
  background-image: url("../img/icon-house.svg");
}

.advantages__item--food::after {
  background-image: url("../img/icon-food.svg");
}

.advantages__item--souvenirs::after {
  background-image: url("../img/icon-souvenirs.svg");
}

.features-list {
  display: flex;
  justify-content: space-between;
  min-height: 256px;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.features-list__item {
  width: 33%;
  text-align: center;
}

.features-list__item h2 {
  margin: 0;
}

.search-map iframe {
  width: 100%;
}
